<br><br><br><br>
<div class="container bootstrap snippets bootdey" (unload)="ngOnDestroy()">
    <div class="tile tile-alt" id="messages-main">
        <div class="ms-menu">
            

            <div class="action-header clearfix">
                <div class="pull-left hidden-xs"> 
                    <div class="lv-avatar pull-left">   
                    </div>
                    <span>Online</span>

                </div> 
                 
            </div> 
            
            <div class="list-group lg-alt DivWithScroll" >
                <div *ngFor='let newUser of onlineUsers'>
                    <a class="list-group-item media" href="">
                        <div class="pull-left">
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="img-avatar">
                        </div>
                        <div class="media-body">
                            <small class="list-group-item-heading">@{{newUser}}</small>
                        </div>
                    </a>
                </div>
                
				<!-- <a class="list-group-item media" href="">
                    <div class="pull-left">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="img-avatar">
                    </div>
                    <div class="media-body">
                        <small class="list-group-item-heading">Davil Parnell</small>
                    </div>
                </a> -->

            </div>
    
            
        </div>
        
        <div class="ms-body DivToScroll DivWithScroll" id="msgContainer">
            <div class="action-header clearfix">
                <div class="pull-left hidden-xs"> 
                    <div class="lv-avatar pull-left">   
                    </div>
                    <span>Chat Room</span>

                </div> 
                 
            </div> 
            <div *ngFor='let chatmessage of allMessages'>
                <div *ngIf="checkUser(chatmessage); else rightMsgBox" class="message-feed media">
                    <div class="pull-left">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-avatar">
                    </div>
                    <div class="media-body">
                        <div class="mf-content">
                            {{chatmessage.text}}
                        </div>
                        <small class="mf-date"> {{ chatmessage.sender }} at {{chatmessage.time}} <i class="fa fa-clock-o"></i></small>
                    </div>
                </div>
                <ng-template #rightMsgBox>
                    <div class="message-feed right">
                        <div class="pull-right">
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="img-avatar">
                        </div>
                        <div class="media-body">
                            <div class="mf-content">
                                {{ chatmessage.text }}
                            </div>
                            <small class="mf-date"> {{ chatmessage.sender }} at {{ chatmessage.time }}  <i class="fa fa-clock-o"></i></small>
                        </div>
                    </div>
                </ng-template>
            </div>
            
            
        </div>
		<div class="msb-reply">
            <form>
                <input type="text" [(ngModel)]="messagefield" class="form-control" name="message">
			    <button type="submit" (click)="sendMessage()"><i class="fa fa-paper-plane-o"></i></button>
            </form>
            
		</div>
    </div>
    <br><br>
</div>
